<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" required role="alert" class="form-control alert alert-primary {{msg_type}}" id="floatingInput" value="{{this.first_name}}" placeholder="First Name" name="first_name" >
      <label for="floatingInput" aria-label="required">First Name</label>
    </div>
   
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" required role="alert" class="form-control alert alert-primary" id="floatingInput" value="{{this.last_name}}" placeholder="Last Name" name="last_name">
      <label for="floatingInput" aria-label="required">Last Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" required role="alert" class="form-control alert alert-primary {{msg_type}}" id="floatingInput" value="{{this.email}}" placeholder="email@email.com" name="email">
      <label for="floatingInput" aria-label="required">Email</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" required   role="alert" class="form-control alert alert-primary {{msg_type}}" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
      <label for="floatingInput" aria-label="required">Phone</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <textarea role="alert" class="form-control alert alert-primary" placeholder="Leave a comment here" id="comments" name="comments" style="height: 200px">{{this.comments}}</textarea>
      <label for="comments" aria-label="required">Comments</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>